<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="9f6cf886-7381-421f-baaf-a342ce452f6a" activeEnvironment="Default environment" name="GitProject" lastOpened="2017-01-05T16:44:50.255+03:00" resourceRoot="" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://github.com/NatalieBorovykh/ReadyAPI.git</con:repositoryIdentifier></con:vcsConfiguration><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:reporting/><con:authRepository/><con:tags/></con:soapui-project>