<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="83ede40d-0468-45d1-9170-e910253109c9" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="83ede40d-0468-45d1-9170-e910253109c9fileName">TestSuite-2</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>