<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="66aee523-c9f7-48bb-b9bb-36e093b66e69" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="66aee523-c9f7-48bb-b9bb-36e093b66e69fileName">TestSuite-1</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>